.DS_Store
notebook/.ipynb_checkpoints/
artefacts/*
!artefacts/best_model_meta.json
!artefacts/clf_lgb_bge.txt
!artefacts/label_encoder.joblib
!artefacts/README.md
!artefacts/README.txt
POC-NLP_SCHNOERING_Pierre/
POC-NLP_SCHNOERING_Pierre.zip
